/* ==========================
   Root Variables for Colors, Font Sizes, and Weights
========================== */
/* Primary */
/* Neutral */
/* font weight */
/* font size */
/* ==========================
   Global Reset and Base Styles
========================== */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 1.125rem;
  font-weight: 1.125rem;
  text-align: center;
}

.container {
  padding: 1rem;
  background-image: url(images/bg-pattern-top-mobile.svg);
  background-repeat: no-repeat;
  background-size: 400px 400px;
}

h1 {
  font-size: 2.75rem;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
  line-height: 0.9;
  margin: 2.5rem 0 1rem 0;
}

h2 {
  text-align: left;
  font-size: 1.125rem;
  font-weight: 500;
}

.section {
  margin: 1.5rem 0;
}

.introduction {
  padding: 2.5rem;
}
.introduction p {
  font-size: 1.125rem;
  font-weight: 500;
  color: hsl(303, 10%, 53%);
  line-height: 1.2;
}

.rating .rating_div {
  margin: 1rem;
}
.rating div {
  background-color: hsl(300, 24%, 96%);
  padding: 0.5rem;
  border-radius: 10px;
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 0.75;
}
.rating div .stars { /* display 5 stars in this div */
  display: inline-block;
  height: 24px; /* here size is exactelly 16px (not in rem) / height of eah start is 16px*/
  width: 126px; /* width of 5 stars (17*5) + margin (7*5) */
  background-image: url("images/icon-star.svg"), url("images/icon-star.svg"), url("images/icon-star.svg"), url("images/icon-star.svg"), url("images/icon-star.svg");
  background-repeat: no-repeat;
  background-position: 6px 0, 30px 0, 54px 0, 78px 0, 102px 0; /* began at 6px and a 7px gap (17px for star image + 7px gap = 24px step) */
  background-size: 17px 16px; /* Size of each star */
}

.card {
  border-radius: 10px;
  background-color: hsl(300, 43%, 22%);
  padding: 0.875rem;
  margin: 1rem 0;
  color: hsl(300, 24%, 96%);
}
.card p {
  line-height: 1.5;
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem;
  max-height: 8.5rem;
}
.card .author {
  margin: 1.25rem;
  display: flex;
  align-items: center;
}
.card .author img {
  border-radius: 50%;
  width: auto;
  height: 2.5rem;
  margin-right: 1.5rem;
}
.card .author .author-infos {
  line-height: 1.25;
  text-align: left;
}
.card .author .author-infos span {
  font-size: 1rem;
  font-weight: 500;
  color: hsl(333, 80%, 67%);
  opacity: 0.85;
}

.attribution {
  font-size: 1rem;
  text-align: center;
  margin: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 52rem) {
  .container {
    padding: 3rem 6rem;
    display: grid;
    place-content: center;
    gap: 1rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto 20rem;
    grid-template-areas: "header-left header-right " "main main";
  }
  .introduction {
    grid-area: header-left;
  }
  .introduction h1 {
    margin: 0 3rem 1rem 3rem;
  }
  .introduction p {
    text-align: left;
  }
  .rating {
    grid-area: header-right;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .rating :nth-child(1) {
    align-self: flex-start;
  }
  .rating :nth-child(2) {
    align-self: center;
  }
  .rating :nth-child(3) {
    align-self: flex-end;
  }
  .rating .rating_div {
    width: 25rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    line-height: 1;
    margin: 1rem;
  }
  .cards {
    grid-area: main;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  .cards :nth-child(1) {
    align-self: flex-start;
  }
  .cards :nth-child(2) {
    align-self: center;
  }
  .cards :nth-child(3) {
    align-self: flex-end;
  }
}/*# sourceMappingURL=style.css.map */